<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geekocs - Bus Registration App</title>
    <link rel="stylesheet" href="/static/main1.css">
</head>
<body>
    <header>
        <button onclick="window.location.href='/buspass'">PASS</button>
    </header>
    <main>
        <div class="site-name-center">GEEKOCS.</div>
        <div class="site-name-des">College bus registration..</div>
        <div class="buttons">
            <button onclick="window.location.href='businfo'">Bus Info</button>
            <button onclick="window.location.href='/busreg'">Bus Registration</button>
            <button onclick="window.location.href='/payment'">Payment</button>
            <button onclick="window.location.href='/contact'">Contact Us</button>
        </div>
    </main>
    <footer>
        <button onclick="window.location.href='/login'">LOGOUT</button>
    </footer>
</body>
</html>
